{% extends 'base.html' %}
{% block DOC_TITLE %}
Админ
{% endblock %}

{% block CUSTOM_HEAD %}
<style>
    table   {   border: 1px ridge rgba(255, 255, 255, 0.2);
                border-collapse: collapse;  }
    td,
    th      {   border: 1px ridge rgba(255, 255, 255, 0.2);
                text-align: center;
                color: rgba(255, 255, 255, 0.7);
                padding: 1rem;  }
</style>
{% endblock %}

{% block LOGO_POSTFIX %}
<div class="header-block" style="width: auto;">
    <p style="font-weight: 200;font-size: 1.3em;">| Admin</p>
</div>
{% endblock %}

<!-- Содержание -->
{% block CONTENT %}
<div class="full-page start-slide fadeUp-start-state" style="padding-left: 3rem; display: inline-block; top:90px;">
    <p style="margin:1rem; color: #fff"> Пользователи </p>
    <table style="margin:1rem">
        <th>Имя</th>
        <th>Логин</th>
        <th>Почта</th>
        <th>Активность</th>
        <th>Роль</th>
        <th>Последний сеанс</th>
        <th>Удалить</th>
        {% for user in users %}
            {% if user.profile %}
                <tr>
                    <td>
                        <a href="{{ url_for('user', username=user.profile.base_settings.username) }}" style="color:#fff">
                            {{user.profile.base_settings.username}}
                        </a>
                    </td>
                    <td>{{user.user_login}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.profile.active}}</td>
                    <td>{{user.role}}</td>
                    {% if user.profile.lastseen %}
                    <td style="max-width: 150px;">
                        {{ moment(user.profile.lastseen).format('LLL') }}
                        ({{ moment(user.profile.lastseen).fromNow() }})
                    </td>
                    {% else %}
                    <td></td>
                    {% endif %}
                    <td>
                        {% if user.id == current_user.id %}
                            Нельзя удалить себя
                        {% else %}
                            <button id="delete-user-{{user.id}}">Удалить</button>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
</div>
{% endblock %}