<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        {% block DOC_TITLE %}

        {% endblock %}| 4ACM
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon">
    <link rel="stylesheet" href="/static/root/css/main.css">
    <link rel="stylesheet" href="/static/root/css/media.css">
    <link rel="stylesheet" href="/static/root/css/maket.css">
    <link rel="stylesheet" href="/static/root/css/base.css">
    <link rel="stylesheet" href="/static/root/css/components.css">
    <link rel="stylesheet" href="/static/root/css/modules.css">
    <script src="/static/root/js/main.js"></script>

    {% block CUSTOM_HEAD %}

    {% endblock %}
</head>
    <body>
        <div class="test-box">
            <!-- some elements -->
            {% block CUSTOM_CODE %}

            {% endblock %}
            <!-- Шапка -->
            <div class="head-line fadeUp-start-state" style="display: flex;">
                <div class="hb-left">
                    <div class="header-block">
                        <a href="{{ url_for('main') }}" style="background-color: transparent; text-decoration: none;">
                            <p style="font-weight: bold;font-size: 1.4em;">rphg.</p>
                        </a>
                    </div>
                    {% block LOGO_POSTFIX %}

                    {% endblock %}
                </div>

                <div class="hb-center">
                    <div class="header-block"><p>Library</p></div>
                    <div class="header-block"><p>Algorithms</p></div>
                    <div class="header-block"><p>Blog</p></div>
                    <div class="header-block"><p>Contact</p></div>
                </div>
                <div class="hb-right">
                    <div class="header-block"><p>Themes</p></div>
                    <div class="header-block"><p>Templates</p></div>
                    <div class="header-block bg-user" style="transform: scale(0.5555); border-radius:50%; background-color: #fff">
                        {% if current_user.is_authenticated %}
                                <a href="{{ url_for('user', username=current_user.username) }}" style="background-color: transparent;
                                width: 100%;
                                height: 100%;"></a>
                            {% else %}
                                <a href="{{ url_for('login') }}" style="background-color: transparent;
                                width: 100%;
                                height: 100%;"></a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- Содержание -->
            {% block CONTENT %}

            {% endblock %}
        </div>
    </body>
</html>