{% extends "base.html" %}

{% block DOC_TITLE %}
Вход
{% endblock %}

{% block CUSTOM_HEAD %}
<style>
    .test-box-flex {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .form-block {
        position: absolute;
        margin: auto;
        color: #fff;
    }
    a {
        color: rgba(255, 255, 255, 0.5);
        text-decoration: none;
    }
</style>
{% endblock %}

{% block MAIN_CONTAINER_CLASS%} 
test-box-flex
{% endblock %}

{% block CONTENT %}
   <div class="form-block fadeEffect-support fadeUp-start-state">
       <h1>Войти</h1>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}<br>
                {% for error in form.username.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
                {% for error in form.password.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
            <p>{{ form.submit() }}</p>
        </form>
        <p>Нет аккаунта? <a href="{{ url_for('register') }}">Зарегистрируйтесь!</a></p>
    </div>
{% endblock %}