{% extends "base.html" %}

{% block DOC_TITLE %}
    Регистрация
{% endblock %}

{% block CUSTOM_HEAD %}
<style>
    .test-box-flex {
        display: flex;
    }
    .form-block {
        position:absolute;
        margin: auto;
        margin-top: 10rem;
        max-width: 35%;
        padding: 1rem;
        width: auto;
        height: auto;
        color: #fff;
    }
    .form-block input[type="text"], input[type="password"] {
        width: 100%;
    }
</style>
{% endblock %}

{% block MAIN_CONTAINER_CLASS%} 
test-box-flex
{% endblock %}

{% block CONTENT %}
   <div class="form-block fadeEffect-support fadeUp-start-state">
       <h1>Регистрация</h1>
       <h2>Примечание: Ваш логин не должно превышать лимит в 10 символов</h2>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.user_login.label }}<br>
                {{ form.user_login(size=10) }}<br>
                {% for error in form.user_login.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}<br>
                {% for error in form.username.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.email.label }}<br>
                {{ form.email(size=64) }}<br>
                {% for error in form.email.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
                {% for error in form.password.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password2.label }}<br>
                {{ form.password2(size=32) }}<br>
                {% for error in form.password2.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </div>
{% endblock %}